@model IEnumerable<EventEase.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Search bookings..." class="form-control" style="width: 300px; display: inline-block; margin-right: 10px;" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueLocaiton)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>





